<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="theme-color" content="#317EFB"/>
	<link rel="manifest" href="manifest.json" />
	<link rel="icon" href="favicon.ico">
	<link rel="apple-touch-icon" sizes="180x180" href="../src/assets/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../src/assets/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../src/assets/favicon-16x16.png">
    <title>Jet d'ail</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
	<!-- built files will be auto injected -->
  </body>
</html>
